:root {
    --color-black: #212121;
    --color-grey: #555555;
    --color-coolgrey: #949494;
    --color-home: #f5ede9;
    --color-red: #d03449;
}

*,
:before,
:after {
  box-sizing: border-box;
  box-shadow: none;
}

input, textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px var(--color-coolgrey);
}
input:focus, textarea:focus {
    outline: none;
    border-bottom: solid 1px var(--color-black);
}

label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact_form{
    width: 60%;
}
.title_contact{
    position: relative;
    width: 100%;
    font-size: .8em;
    letter-spacing: .1em;
    font-family: "RADIKAL-BLACK";
}


.name_contact, .email_contact, .subject_contact, .message_contact{
    position: relative;
    width: 100%;
    font-size: .8em;
    letter-spacing: .1em;
    color: var(--color-coolgrey);
    padding: 10px 0px;
    font-family: "RADIKAL-LIGHT";
}
.message_contact{
    min-height: 100px;
}

.submit_contact{
    width: 100%;
    background-color: transparent;
    border: solid 2px var(--color-red);
    padding: 15px;
    font-size: .8em;
    font-family: "RADIKAL-LIGHT";
    letter-spacing: .1em;
}
.submit_contact:hover{
    width: 100%;
    background-color: var(--color-red);
    border: solid 2px var(--color-red);
    padding: 15px;
    font-size: .8em;
    font-family: "RADIKAL-LIGHT";
    letter-spacing: .1em;
}