:root {
    --color-black: #212121;
    --color-grey: #555555;
    --color-warm:#f0f0f0;

    --color-parisshopping: #F14248;
}
@font-face {
    font-family: "RADIKAL-LIGHT";
    src: url("/police/Radikal-Light.otf");
}
@font-face {
    font-family: "RADIKAL-BLACK";
    src: url("/police/Radikal-Black.otf");
}
#cadriage{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
}

body{
    margin: 0px;
    opacity: 1; 
    transition: opacity .5s; 
    background-color: var(--color-warm);
}
a {
    color: inherit;
    text-decoration: none;
}

.focus__parisshopping{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--color-parisshopping);
    font-family: "RADIKAL-LIGHT";
}

/*  Keyframes  */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }  





/*  HEADER  */
header{
    position: relative;
    z-index: 98;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-warm);
}
#container__image{
    display: flex;
    width: 40%;
    height: 100vh;
    overflow: hidden;
}
.img__header{
    position: relative;
    height: 70vh;
    left: 50%;
}
#container__information{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 5%;

    animation-duration: 0.45s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}
.title__project{
    font-family: "RADIKAL-BLACK";
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 1.3rem;
    text-align: left;
    margin-bottom: 20px;
}
.paragraphe__project{
    font-family: "RADIKAL-LIGHT";
    text-align: justify;
    font-size: 0.9rem;
    line-height: 180%;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
    animation-duration: 0.65s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}
.align_website{
  display: flex;
  align-content: center;
}
.poste__project{
    font-family: "RADIKAL-LIGHT";
    text-align: justify;
    font-size: 0.9rem;
    line-height: 180%;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
    animation-duration: 0.85s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInRight;
}
.mission__project{
    font-family: "RADIKAL-LIGHT";
    text-align: justify;
    font-size: 0.7rem;
    line-height: 180%;
    font-style: italic;
    letter-spacing: 0.05rem;
    margin-bottom: 10px;
}
.title__project:hover{
    font-family: "RADIKAL-BLACK";
    color: var(--color-black);
    text-transform: uppercase;
}



.btn {
    margin: 20px auto;
    border: none;
    padding: 15px 25px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    animation: opacityUp 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    opacity: 0;
  }
  .btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn.rounded {
    border-radius: 50px;
  }
  .btn.rounded .text-cta {
    font-family: "RADIKAL-BLACK";
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    mix-blend-mode: multiply;
    color: var(--color-parisshopping);
  }
  .btn.rounded::before {
    border-radius: 60px;
    width: 20%;
    mix-blend-mode: multiply;
    background: var(--color-parisshopping);
  }
  .btn.rounded:hover::before {
    background: var(--color-parisshopping);
    width: 100%;
    mix-blend-mode: multiply;
  }

  .retour__project{
    position: absolute;
    display: flex;
    top: 2vh;
    margin-left: 45%;
    z-index: 99;
    font-family: "RADIKAL-LIGHT";
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    align-items: center;
    cursor: pointer;
}
  .btn.return {
    border-radius: 10px;
  }
  .btn.return .text-cta {
    color: var(--color-grey);
    font-family: "RADIKAL-BLACK";
    text-transform: uppercase;
    font-size: 0.5rem;
    letter-spacing: 0.3rem;
    mix-blend-mode: difference;
  }
  .btn.return::before {
    border-radius: 60px;
    width: 2%;
    background: var(--color-parisshopping);
  }
  .btn.return:hover::before {
    background: var(--color-parisshopping);
    width: 100%;
  }




#title{
    width: max-content;
    margin: 80px auto 0px auto;
    padding: 10px;
    font-family: "RADIKAL-LIGHT";
    text-align: center;
    font-size: 0.9rem;
    line-height: 180%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border-bottom: solid 1px var(--color-parisshopping);
}
#image__project{
    position: relative;
    padding: 0px;
    margin-left: 10%;
    width: 80%;
}
.arrow__top{
    position: fixed;
    z-index: 1;
    bottom: 6vh;
    right: 6%;
    width: 2%;
}
.arrow__top:hover{
    position: fixed;
    z-index: 1;
    bottom: 6vh;
    right: 6%;
    width: 2%;
    background-color: var(--color-cool-grey);
    border-radius: 50%;
    mix-blend-mode: exclusion;
}
